<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content" style="background-color:#000099">
      <div class="wrapper">
        {{ content }}

        <h1>BEST Services</h1>

        <div class="row" style="color:#fff;">
          <div class="col-md-4">
            <h3>Pre-Recruitment</h3>
          </div>

          <div class="col-md-4">
            <h3>Job Quality Matching</h3>
          </div>

           <div class="col-md-4">
            <h3>On-Site Training</h3>
          </div>

        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
